.contaier{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center
}
/* table */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table{
    padding: 50px
}
.input{
    padding: 50px
}
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
.stt{
  padding-right: 135px;
}
.age{
  margin-right: 135px;
}
.name {
  padding-right: 285px;
}
.xoa{
  margin-left: 210px;
}